[Unit]
Description={{ netci_app_name }} netCI demo service
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User={{ netci_app_user }}
Group={{ netci_app_user }}
WorkingDirectory={{ netci_app_root }}/current
ExecStart={{ netci_app_root }}/current/{{ netci_app_name }}
Restart=on-failure
RestartSec=5
NoNewPrivileges=true
PrivateTmp=true
ProtectSystem=strict
ProtectHome=true
ReadWritePaths={{ netci_app_root }}

[Install]
WantedBy=multi-user.target
